<div class="container presentations">
  <%= link_to('Submit Your Presentation', '', class: 'btn btn-large btn-success pull-right', data: { target: '#presentation-modal', toggle: 'modal' }) %>
  <h1>Presentations</h1>
  <% if @presentations.any? %>
    <% @presentations.each do |presentation| %>
      <div class="box presentation presentation-<%= presentation.id %>">
        <h2><%= presentation.title %></h2>
        <h4 class="presentation-presenter">By: <%= presentation.presenter.full_name %></h4>
        <%= simple_format(presentation.description) %>
        <%= render 'attendance', presentation: presentation %>
      </div>
    <% end %>
  <% else %>
    <div class="box">
      <p>You don't have any presentations yet... Perhaps you should <%= link_to('create the first one', new_presentation_path) %>.</p>
    </div>
  <% end %>
</div>

<%= render 'presentations/fields' %>