<%= simple_form_for(user, remote: true, html: { class: 'form-horizontal' }) do |f| %>
  <fieldset>
    <legend>Register Now</legend>
    <%= f.input :first_name, label: 'First Name' %>
    <%= f.input :last_name, label: 'Last Name' %>
    <%= f.input :email %>
    <%= f.input :twitter %>
    <%= f.input :shirt_size, collection: ['Small', 'Medium', 'Large', 'X-Large', 'XX-Large'], label: 'Shirt Size' %>
    <%= f.input :diet_concerns, label: 'Dietary Concerns' %>
  </fieldset>
  <div class="form-actions">
    <%= f.submit 'Sign Me Up!', class: 'btn btn-success btn-large' %>
  </div>
<% end %>