<div class="container presentations">
  <h1>Scheduler</h1>
  <div class="row-fluid">
    <div class="span12" style="overflow-x: scroll;">
      <table class="table table-striped">
        <tr>
          <th>Presentation Name</th>
          <% @users.each do |user| %>
            <th title="<%= user.full_name %>"><%= user.short_name %> (<%= user.presentations.count %>)</th>
          <% end %>
        </tr>
        <% @presentations.each do |presentation| %>
          <tr>
            <td title="<%= presentation.non_conflicting_presentations.collect{|p| p.title}.join("\n") %>"><%= presentation.title %> (<%= presentation.users.count %>)</td>
            <% @users.each do |user| %>
              <td class="<%= 'selected' if user.is_attending?(presentation) %>"><%= user.is_attending?(presentation) ? "Y" : "N" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>