<div class="block block-sponsors">
  <div class="container">
    <a id="sponsor" class="anchor"></a>
    <h2 class="block-title">Sponsors</h2>
    <div class="row-fluid">
      <div class="span8">
        <ul class="thumbnails">
          <li>
            <a class="thumbnail" href="http://www.snc.edu/" target="_blank" title="St. Norbert College"><%= image_tag('SNC-Logo.png', alt: 'St. Norbert College') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://sparknet.jobs/" target="_blank" title="SparkNET"><%= image_tag('SparkNET-Logo.png', alt: 'SparkNET') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://gallagherspizza.com/" target="_blank" title="Gallagher's Pizza"><%= image_tag('gallaghers-logo.png', alt: 'Gallagher\'s Pizza') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://github.com/" target="_blank" title="GitHub"><%= image_tag('github-logo.png', alt: 'GitHub') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://zqdc.co/" target="_blank" title="ZyQuest"><%= image_tag('zyquest-logo.png', alt: 'ZyQuest') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://www.htmlgraphic.com/" target="_blank" title="HTMLgraphic"><%= image_tag('htmlgraphic-logo.svg', alt: 'HTMLgraphic', height: '82', width: '82') %></a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <p class="lead">Chris Jaure, Chris Schmitz, Perry Sieber, Jason Beck, Steve Vogel, <a href="http://www.greenbaymyofascialrelease.com" target="_blank">Green Bay Myofascial Release</a>, Marilyn Keuler</p>
      </div>
    </div>
    <hr />
    <p>Be part of something amazing. <a href="https://www.wepay.com/donations/barcamp-gb-2013" target="_blank">Sponsor BarCamp Green Bay!</a></p>
    <p>Consider sponsoring $50-$200 and we will list you on this site and give you a shout-out during the event.</p>
  </div>
</div>
