<div class="header navbar" role="navigation">
  <div class="navbar-inner">
    <div class="container clearfix">
      <%= link_to('BarCamp Green Bay', root_path, class: 'hidden-desktop home-link') %>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse">
        <div class="pull-left">
          <% if current_page?(root_url) %>
            <a href="/#about">About</a>
            <a href="/#schedule">Schedule</a>
            <!--<%= link_to('Sessions', presentations_path) %>-->
          <% else %>
            <%= link_to('Home', root_path) %>
            <% if signed_in? %>
              <%= link_to('Sign out', signout_path) %>
            <% else %>
              <%= link_to('Sign in', signin_path) %>
            <% end %>
          <% end %>
        </div>
        <div class="pull-right">
          <a href="https://twitter.com/BarCampGB" title="@BarCampGB">
            <%= image_tag('twitter-bird-dark-bgs.png') %>
          </a>
          <!--<a class="wepay-widget-button" id="wepay_widget_anchor_52561d6fed409" href="https://www.wepay.com/donations/barcamp-gb-2013">Sponsor</a>-->
          <a class="btn-cta" href="" data-toggle="modal" data-target="#registration-form" title="Join <%= User.count %> other campers!">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>