<!DOCTYPE html>
<html>
  <head>
    <title>BarCamp Green Bay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <%= render 'header' %>
    <%= render 'messages' %>

    <%= yield %>

    <%= render 'block_register' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
